body {
	background: black;
	margin: 0;
	padding: 0;
}

body::-webkit-scrollbar { width: 0 !important; }

#status {
	color: black;
	padding: 5px;
	background: rgba(255, 255, 255, 0.8);
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 200;
}

canvas {
	margin: 0;
	padding: 0;
}
.sprite {
	/*
	transition-delay: 0s;
	transition-timing-function: linear;
	transition-property: -webkit-transform, opacity;
	*/
	position: absolute;
	z-index: 100;
}
.sprite.noanimate {
    transition: none;	
}
